body,html{
    padding: 0 !important;
    height: 100%;
    //min-height: 13.34rem;
    overflow-x: auto;
}
.e-hugeBox{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    letter-spacing: .08em;
     background: radial-gradient(circle at 50% 50%, rgba(165,218,255,1), rgba(165,218,255,0.7),rgba(165,218,255,0),rgba(165,218,255,0),rgba(165,218,255,0),rgba(165,218,255,0)) ;
    .bg_1{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 18rem;
        z-index: 5;
        @keyframes bg_1move {
            from {
                transform: translate(-50%, -50%) rotate(0)
            }
            to {transform: translate(-50%, -50%) rotate(360deg)}
        }
        animation: bg_1move 50s linear infinite;
    }
        
    .bg_2{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 18rem;
        z-index: 10;
        @keyframes bg_2move {
            from {
                transform: translate(-50%, -50%) rotate(360deg)
            }
            to {transform: translate(-50%, -50%) rotate(0)}
        }
        animation: bg_2move 60s linear infinite;
    }
    .bg_3{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 18rem;
        z-index: 15;
        @keyframes bg_3move {
            from {
                transform: translate(-50%, -50%) rotate(0)
            }
            to {transform: translate(-50%, -50%) rotate(360deg)}
        }
        animation: bg_3move 70s linear infinite;
    }
    .bg_4{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 7.18rem;
        height: 7.18rem;
        z-index: 20;
        @keyframes bg_4move {
            from {
                transform: translate(-50%, -50%) rotate(360deg)
            }
            to {transform: translate(-50%, -50%) rotate(0)}
        }
        animation: bg_4move 120s linear infinite;
    }
    .bg_5{
        position: absolute;
        left: .5rem;
        top: 1.8rem;
        width: 4.57rem;
        height: 5.22rem;
        z-index: 2;
    }
    .bg_6{
        position: absolute;
        right: .3rem;
        bottom: .57rem;
        width: 3.97rem;
        height: 4.52rem;
        z-index: 2;
    }
    
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bgCover{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: auto;
        object-fit: initial;
    }
    .logoImgBox{
        position: absolute;
        top: .71rem;
        left: 4.18rem;
        z-index: 10;
        width: 1.6rem;
        height: .42rem;
        cursor: pointer;
    }
    .contentAndBg{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 40;
        transform: translate(-50%, -50%);
        .bg_7{
            position: relative;
            top: .56rem;
            width: 9.25rem;
            height: 2.67rem;
        }
        .bg_8{
            position: absolute;
            left: 50%;
            top: .84rem;
            transform: translate(-50%,0);
            z-index: 10;
            width: 19.2rem;
            text-align: center;
            font-size: .6rem;
            font-weight: 200;
            color: #229AF1;
            font-family: Gilroy-UltraLight;
            letter-spacing: .044em;
        }
    }
    .contentBox{
        position: relative;
        z-index: 10;
        margin: 0 auto;
        background: #fff;
        border-radius: .1rem;
        box-shadow: 0 0 60px rgba(70,178,255,.3);
        font-family: Gilroy;
        &.boxStyle3{
            width: 5.16rem;
            height: 4.77rem;
        }
        &.boxStyle0{
            width: 5.7rem;
            height: 5.72rem;
        }
        &.boxStyle1{
            width: 5.7rem;
            height: 5.3rem;
        }
        &.boxStyle2{
            width: 6.8rem;
            height: 5.48rem;
        }
        transition: all .3s ease-in-out;
    }
    .startBox, .detailBox, .depositBox, .doneBox{
        width: 100%;
        height: 100%;
        .detailBoxContainer{
            width: 100%;
            height: 100%;
            overflow: hidden;
            .close{
                position: absolute;
                top: .2rem;
                right: .2rem;
                z-index: 10;
                width: .28rem;
                height: .28rem;
                cursor: pointer;
            }
            h1{
                margin-top: .76rem;
                font-size: .24rem;
                color: #333;
                text-align: center;
                font-weight: 200;
                font-family: Gilroy-Regular;
            }
            
            .transferBox{
                margin-top: .78rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .transferCell{
                    width: 1.2rem;
                    img{
                        object-fit: contain
                    }
                    .name{
                        width: 1.2rem;
                        color: #959595;
                        text-align: center;
                        font-size: .16rem;
                        font-family:Gilroy-Light;
                    }
                    .pic{
                        margin-top: .2rem;
                        padding: .1rem;
                        box-sizing: border-box;
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                    .icoName{
                        width: 1.2rem;
                        margin-top: .15rem;
                        color: #999999;
                        font-size: .18rem;
                        text-align: center;
                    }
                }
                .transferIco{
                    width: .57rem;
                    height: .47rem;
                    margin: 0 .54rem;
                    cursor: pointer;
                }
            }

        }
        .step{
            position: absolute;
            left: 50%;
            bottom: -.27rem;
            z-index: 15;
            transform: translateX(-50%);
            width: 2.12rem;
            height: .54rem;
            border-radius: .27rem;
            border: 1px solid #229AF1;
            outline: none;
            cursor: pointer;
            font-size: .2rem;
            font-family:Gilroy-Regular;
            transition: all .3s ease-in-out;
            box-shadow: 0 10px 20px rgba(70,178,255,.3);
            background: #229AF1;
            color: #fff;
            letter-spacing: .1em;
            &:hover,&:active{
                background: #fff;
                color: #229AF1;
            }
        }
        .noDoneBtn{
            position: absolute;
            left: 50%;
            bottom: -.4rem;
            z-index: 15;
            transform: translateX(-50%);
            width: 3rem;
            height: .78rem;
            border-radius: .39rem;
            border: 0;
            outline: none;
            background: linear-gradient(to right , #AFAFAF, #F3F3F3);
            cursor: pointer;
            color: #4A4A4A;
            font-size: .2rem;
            &:hover,&:active{
                background: linear-gradient(to right , #F3F3F3, #AFAFAF);
            }
        }
    }
    .detailBox{
        h1{
            margin-top: .5rem;
        }
        .selectBox{
            margin: 0 auto;
            margin-top: .42rem;
            margin-bottom: .1rem;
            width: 4.7rem;
            .text{
                color: #A0A0A0;
                font-size: .16rem;
                font-weight: 200;
            }
            .selectContent{
                margin-top: .19rem;
                display: flex;
                align-items: center;
                .ico1{
                    font-size: .18rem;
                    color: #333;
                }
                .toImg{
                    width: .18rem;
                    height: .18rem;
                    margin: 0 .2rem;
                    img{
                        object-fit: contain
                    }
                }
            }
        }
        .inputCellBox{
            position: relative;
            margin: 0 auto;
            width: 4.7rem;
            height: .72rem;
            .mess1{
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 0;
                width: 100%;
                height: .36rem;
                line-height: .36rem;
                color: #A0A0A0;
                font-size: .18rem;
                transition: all .3s ease-in-out;
                &.hei{
                    bottom: .28rem;
                    font-size: .16rem;
                }
            }
            input{
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 10;
                width: 100%;
                height: .20rem;
                line-height: .20rem;
                font-size: .18rem;
                padding: .1rem 0 .09rem;
                color: #333333;
                border: 0;
                border-radius: 0;
                outline: none;
                border-bottom: 1px solid #DCDCDC;
                background: transparent;
                font-family: Gilroy-Regular;
                letter-spacing: .08em;
            }
            span{
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 10;
                width: 0;
                height: 1px;
                background: #229AF1;
                transition: all .3s ease-in-out;
            }
            &.foc{
                span{
                    width: 100%;
                }
                &.amount{
                    span{
                        width: 4rem;
                    }
                }
            }
            &.amount{
                .mess1{
                    width: 4rem;
                }
                input{
                    width: 4rem;
                }
                .unit{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: .18rem;
                    color: #A0A0A0;
                    &.focus{
                         color: #229AF1;
                    }
                }
            }
            &.limit{
                height: .14rem;
                top: .09rem;
            }
           &.lastAddress{
               top: .14rem;
           }
        }
        .errMess{
            position: absolute;
            left: 50%;
            bottom: .42rem;
            transform: translateX(-50%);
            color: #FF60AB;
            font-size: .16rem;
            text-align: center;
        }
    }
    .depositBox{
        .step{
            bottom: -.4rem;
        }
        .backbtn{
            position: absolute;
            left: .4rem;
            top:.2rem;
            z-index: 10;
            width: .26rem;
            height: .26rem;
            cursor: pointer;
        }
        h2{
            margin-top: .12rem;
            text-align: center;
            font-weight: normal;
            color: #EACDF2;
            font-size: .18rem;
            font-weight: 200;
        }
        .qrcodeBox{
            position: relative;
            margin: 0 auto;
            margin-top: 0.1rem;
            padding: 0.1rem;
            box-sizing: border-box;
            width: 2.46rem;
            height: 2.46rem;
            background: #EEEEEE;
            .qrcodeCover{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                border-radius: .08rem;
                background: rgba(255,255,255,.7);
                .suc, .err{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    z-index: 10;
                    transform: translate(-50%, -50%);
                    width: .34rem;
                    height: .34rem;
                }
            }
            .qrcode{
                width: 100%;
                height: 100%;
                background: #000;
                overflow: hidden;
            }
        }
        .totleMoney{
            margin-top: 0.1rem;
            font-size: 0.16rem;
            color: #A0A0A0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 200;
            .unit{
                font-size: 0.18rem;
                color: #229AF1;
            }
        }
        .detailBoxContainer{
            h1{
                color: #333333;
                font-size: 0.28rem;
                margin-top: 0.54rem;
            }
            h2{
                color: #A0A0A0;
                font-size: 0.16rem;
                margin-top: 0.2rem;
                &.address{
                    color: #A6DAFF;
                    font-size: 0.18rem;
                }
            }
        }
        button.step{
            width:2.86rem;
            height:0.54rem; 
            font-weight: 200;
        }
    }
    .doneBox{
        .backbtn{
            position: absolute;
            left: .4rem;
            top:.2rem;
            z-index: 10;
            width: .26rem;
            height: .26rem;
            cursor: pointer;
        }
        .logoRoute{
            position: absolute;
            left: 50%;
            top: -.9rem;
            z-index: 20;
            transform: translateX(-50%);
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 100%;
            overflow: hidden;
            .bgColor{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                transform: translateZ(0);
                
                &.noMove{
                    @keyframes logomove {
                        from {
                            transform:  rotate(0)
                        }
                        to {transform:  rotate(360deg)}
                    }
                    animation: logomove 4s linear infinite;
                }
            }
            .logo{
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 30;
                transform: translate(-50%, -50%);
                width: 1.72rem;
                height: 1.72rem;
                background: #fff;
                border-radius: 100%;
                .centerImg{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 1.2rem;
                    height: 1.02rem;
                    img{
                        object-fit: contain;
                    }
                    &.filter{
                        filter: grayscale(1);
                        opacity: .5;
                    }
                }
            }
        }
        
        .detailBoxContainer{
            .holder{
                height: 1.4rem;
            }
            .scrollBox{
                width: 6rem;
                margin: 0 auto;
                height: 3.7rem;
                overflow-y: auto;
                &::-webkit-scrollbar{
                    width: .1rem;
                    height: .6rem;
                    border-radius: .03rem;
                    background:#fff;
                }
                /*定义滚动条的轨道颜色、内阴影及圆角*/
                &::-webkit-scrollbar-track{
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: rosybrown;
                    border-radius: 3px;
                }
        
        
               /*定义滑块颜色、内阴影及圆角*/
                &::-webkit-scrollbar-thumb{
                    border-radius: 7px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: #E8E8E8;
                }
        
                /*定义两端按钮的样式*/
                &::-webkit-scrollbar-button {
                    background-color:rosybrown;
                }
        
                /*定义右下角汇合处的样式*/
                &::-webkit-scrollbar-corner {
                    background:khaki;
                }
                .fromTo{
                    position: relative;
                    width: 100%;
                    height: auto;
                    font-size: .18rem;
                    line-height: .22rem;
                    display: flex;
                    justify-content: space-between;
                    font-weight: 200;
                    color: #333;
                    .box{
                        position: relative;
                        width: 2.9rem;
                        height: 2.76rem;
                        background:rgba(166,218,255,1);
                        border-radius: 4px ;
                        .title1{
                            font-size: .18rem;
                            text-align: center;
                            padding-top: .58rem;
                        }
                        .keyword{
                            font-size: .18rem;
                            min-height: .66rem;
                            margin-top: .14rem;
                            padding: 0 .2rem;
                            box-sizing: border-box;
                            color: #fff;
                            word-break: break-all;
                            white-space: normal;
                            font-weight: 200;
                            letter-spacing: .1em;
                            line-height: .27rem;
                        }
                        .title2{
                            font-size: .18rem;
                            position: absolute;
                            left: 0;
                            bottom: 0.82rem;
                            width: 100%;
                            text-align: center;
                        }
                        .money{
                            font-size: .18rem;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            color: #fff;
                            padding-bottom: .5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .nuit{
                                margin-left: .06rem;
                            }
                        }
                    }
                }
                .orderCreat{
                    margin-top: .13rem;
                    color: #fff;
                    background: #A6DAFF;
                    padding: .14rem .2rem;
                    box-sizing: border-box;
                    font-size: .18rem;
                    border-radius: 4px;
                    .titel{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: .25rem;
                        .text{
                            line-height: .25rem;
                        }
                        .time{
                            color: #fff;
                        }
                    }
                    .orderContent{
                        margin-top: .06rem;
                        white-space: normal;
                        word-break: break-all;
                    }
                }
                .transfer{
                    margin-top: .2rem;
                    color: #EACDF2;
                    background: #583460;
                    padding: .14rem;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    .text{
                        line-height: .25rem;
                    }
                    .time{
                        color: #EACDF2;
                    }
                }
            }
            
        }
    }
}

.mobile{
    #e-indexBox{
       // background: radial-gradient(circle at 50% 50%, rgba(165,218,255,1), rgba(165,218,255,0.7),rgba(165,218,255,0.1),rgba(165,218,255,0),rgba(165,218,255,0)) ;
        .bg_5{
            left: -1rem;
            top: 3.8rem;
        }
        .bg_6{
            right: -1.4rem;
            bottom: -1.8rem;
        }
        .contentAndBg{
            width: 100%;
            .bg_7{
                top: -.5rem;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                padding: 0 .2rem;
                margin: 0 auto;
            }
            .bg_8{
                top: -.6rem;
                width: 6rem;
                transform: translate(-50%, -50%);
                font-size: .48rem;
                font-family: Gilroy-UltraLight;
                color: #229AF1;
                text-align: left;
                &.cn{
                    text-align: center;
                }
            }
            .contentBox{
                top: .9rem;
                &.boxStyle3{
                    width: 6.36rem;
                    height: 5.88rem;
                }
                &.boxStyle0{
                    width: 6.36rem;
                    height: 7.5rem;
                }
                &.boxStyle1{
                    width: 6.36rem;
                    height: 6.88rem;
                }
                &.boxStyle2{
                    width: 6.36rem;
                    height: 7.66rem;
                }
                .startBox, .detailBox, .depositBox, .doneBox{
                    h1{
                        margin-top: .6rem;
                        color: #333;
                        font-weight: normal;
                        font-size: .38rem;
                        line-height: 1;
                    }
                    .step{
                        width: 3rem;
                        height: .8rem;
                        border-radius: .4rem;
                        font-size: .26rem;
                        bottom: -.4rem;
                        font-family: Gilroy;
                    }
                }
                .startBox {
                   
                    .transferBox{
                        margin-top: 1.04rem;
                        .transferCell{
                            .name{
                                font-size: .28rem;
                                color: #959595;
                            }
                            .pic{
                                height: 1.4rem;
                            }
                            .icoName{
                                font-size: .28rem;
                                font-family: Gilroy-Light;
                            }
                        }
                        .transferIco{
                            margin: 0 1rem;
                            width: .7rem;
                            height: .58rem;
                        }
                    }
                }
                .detailBox {
                    .selectBox{
                        margin-top: .8rem;
                        margin-bottom: 0;
                        width: 5.56rem;
                        .text{
                            color: #A0A0A0;
                            font-family: Gilroy-Light;
                            font-size: .26rem;
                        }
                        .selectContent{
                            font-size: .28rem;
                            line-height: 0;
                            color: #333;
                            font-family: Gilroy-Regular;
                            .ico1, .ico2{
                                font-size: .28rem;
                                color: #333;
                                font-family: Gilroy-Regular;
                            }
                            .toImg{
                                width: .32rem;
                                height: .26rem;
                            }
                        }
                    }
                    .inputCellBox{
                        height: 1.06rem;
                        width: 5.56rem;
                        .mess1{
                            height: .48rem;
                            font-size: .26rem;
                            color: #A0A0A0;
                            &.hei{
                                bottom: .32rem;
                                font-size: .22rem;
                            }
                        }
                        input{
                            height: .20rem;
                            line-height: .20rem;
                            font-size: .28rem;
                            padding: .1rem 0 .13rem;
                            font-weight: 200;
                            font-family: Gilroy-Regular;
                        }
                        &.amount{
                            .mess1, input{
                                width: 4.7rem;
                            }
                            
                            .unit{
                                font-size: .26rem;
                            }
                        }
                        &.foc.amount{
                            .line{
                                width: 4.7rem;
                            }
                        }
                        &.limit{
                            height: .14rem;
                            top: .15rem;
                        }
                    }
                    .errMess{
                        width: 100%;
                        bottom: .59rem;
                    }
                }
                .depositBox {
                    h2{
                        margin-top: .12rem;
                        font-size: .26rem;
                        font-weight: 200;
                        line-height: 1;
                    }
                    .address{
                        margin-top: .56rem;
                        color: #A6DAFF;
                        font-size: .26rem;
                        font-family: Gilroy-Regular;
                    }
                    .qrcodeBox{
                        width: 3rem;
                        height: 3rem;
                        padding: .2rem;
                    }
                    .totleMoney{
                        margin-top: .12rem;
                        .money{
                            font-size: .24rem;
                        }
                        .unit{
                            font-size: .28rem;
                            color: #229AF1;
                        }
                    }
                    .step{
                        width: 3.8rem;
                    }
                }
                .doneBox {
                    .logoRoute{
                        top: -.7rem;
                        width: 2.2rem;
                        height: 2.2rem;
                        .logo{
                            width: 2.1rem;
                            height: 2.1rem;
                            
                        }
                    }
                    .detailBoxContainer{
                        .holder{
                            height: 2rem;
                        }
                        .scrollBox{
                            height: 4.87rem;
                            width: 6.04rem;
                            .fromTo{
                                .box{
                                    height: 3.62rem;
                                    .title1,.title2{
                                        font-size: .24rem;
                                    }
                                    .keyword{
                                        font-size: .26rem;
                                        margin-top: .4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.mobile .limit-tip{
    font-size: .22rem;
}
.mobile .rate{
    font-size: .28rem;
}
.limit-tip{
    font-size: .12rem;
    font-family: "Helvetica";
    color:rgba(34,154,241,1);
    line-height: .14rem;
}
.rate{
    position: relative;
    top: .42rem;
    margin: 0 auto;
    width: 4.7rem;
    color: rgba(160, 160, 160, 1);
    font-size: .17rem;
    font-family:"Gilroy-Light";
    line-height: .17rem;
}
.mobile .rate{
    width: 5.56rem;
}
.rate.blue{
    color: rgba(34, 154, 241, 1);
}
.black{
    color: #000;
}