body,html{
    padding: 0 !important;
    height: 100%;
    min-width: 1280px;
    overflow-x: auto;
}
.page-about{
    height: 100%;
    width: 100%;
    .content{
        padding-top: 2.86rem;
        position: relative;
        height: 100%;
        box-sizing: border-box;
        
        .bg-lf{
            position: absolute;
            z-index: 0;
            height: 4.81rem;
            width: 4.51rem;
            left: 0.48rem;
            top: 1.81rem;
            img{
                height: 100%;
                width: auto;
                float: left;
            }
        }
        .bg-rt{
            position: absolute;
            z-index: 0;
            height: 4.5rem;
            width: 3.97rem;
            right: 0.30rem;
            bottom: 0.56rem;
            img{
                height: 100%;
                width: auto;
                float: right;
            }
        }
        .ct{
            width: 12rem;
            margin: 0 auto;
            h1{
                line-height: 0.8rem;
                width:8.61rem;
                font-weight: 200;
                height:1.40rem; 
                font-size:0.72rem;
                font-family:"Gilroy-UltraLight";
                color:rgba(34,154,241,1);
                line-height:0.72rem;
                margin-bottom: 0.6rem;
            }
            p{
                width:100%;
                font-size:0.18rem;
                font-family:"Gilroy-Light";
                color:rgba(125,125,125,1);
                line-height:0.3rem;
            }
        }
    }
}
